button {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: #cfef00;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
   }
   
   button:hover {
    background: #a6c900;
   }
   
   button > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
   }
   
   button:hover svg {
    transform: translateX(5px);
   }
   
   button:active {
    transform: scale(0.95);
   }